<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SharedChain - a chain of public trust</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type="text/javascript" src='main.js'></script>

    <!-- Bring in React and single-page-react dependencies as globals -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/react/0.12.0/JSXTransformer.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/react/0.12.0/react-with-addons.js'></script>
    <script src="single-page-react.js"></script>

    <script src="kbpgp/kbpgp-2.0.8.js"></script>

    <!-- JS JOSE/Crypto library -->
    <script language="JavaScript" type="text/javascript"
            src="http://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js">
    </script>

    <!-- Set which DOM element to insert React components into -->
    <script>
        React.Router.routedElement = document.body //or whatever element you prefer
    </script>

    <!-- Bring in the react components -->
    <script src="sharedchain.jsx" type="text/jsx"></script>

</head>

<body>

<div id="chainlink_form">
    <form name="contact" action="">
        <fieldset>
            <label for="password" id="name_label">Password</label>
            <input type="text" name="password" id="password" size="30" value="" class="text-input" />
            <label class="error" for="password" id="password_error">This field is required.</label>

            <label for="email" id="email_label">Email</label>
            <input type="text" name="email" id="email" size="30" value="" class="text-input" />
            <label class="error" for="email" id="email_error">This field is required.</label>

            <br />
            <input type="submit" name="submit" class="button" id="submit_btn" value="Send" />
        </fieldset>
    </form>
</div>

</body>
</html>